.popup {

    &__body {

        &_left {
            justify-content: start;
            @media(max-width:492px) {
                background: rgba(0, 0, 0, 0.5);
                padding-top: 125px;    
            }
            

            .popup__content_left {
                transform: translate(-100%, 0);
                border-radius: 0px 12px 12px 0px;
                padding: 70px 25px 0px 25px;
            }

            .close-popup {
                @media(max-width:492px) {
                    right: inherit;
                    left: 30px;
                    top: 30px;
                }
            }
        }
    }

}

.city {

    &__body {
        @media(max-width:492px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__label {
        font-size: 22px;
        margin-bottom: 30px;
        @media(max-width:492px) {
            text-align: center;
            font-size: 24px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        @include adaptiv-value("margin-bottom", 40, 30, 1);
        @media(max-width:492px) {
            flex-direction: column;
            gap: 30px;
            order: 3;
        }
    }

    &__close {
        @media(max-width:492px) {
            display: inline-flex;
            align-items: center;
            gap: 5px;
            right: inherit;
            left: 30px;
            top: 30px;
            &:before {
                background-image: url(../img/icons/arrow.svg);
                content: "";
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                width: 10px;
                height: 10px;
                flex: 0 0 10px;
                transform: rotate(90deg);
            }

        }
    }

    &__item {
        background: #fff;
        border-radius: 14.5px;
        padding: 7.5px 10px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.4s ease 0s;
        font-size: 12px;
        border: 1px solid $blue;
        &._active {
            background-color: $blue;
            color: #fff;
        }

        &:hover {
            border-radius: 15px;
        }
        @media(max-width:492px) {
            background: inherit;
            border: none;
            font-size: 18px;
            &._active {
                background-color: inherit;
                color: $blue;
                font-weight: 500;
            }
        }
    }

    &__checkbox {
        @include adaptiv-value("margin-bottom", 40, 30, 1);
    }

    &__input {
        display: none;
        &:checked+.city__sublabel:after {
            transform: scale(1);
        }
        &:checked+.city__sublabel {
            color: $black;
        }
    }

    &__sublabel {
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        color: $black;

        @media(min-width:492px) {
            &:before {
                content: "";
                background: #fff;
                border-radius: 50%;
                width: 20px;
                flex: 0 0 20px;
                height: 20px;
                margin-right: 10px;
            }
            &:after {
                content: "";
                border-radius: 50%;
                position: absolute;
                top: 3px;
                left: 3px;
                width: 14px;
                height: 14px;
                background-color: $blue;
                transform: scale(0);
                transition: all 0.4s ease 0s;
            }
            &:active {
                color: $black;
            }
            &:hover {
                color: $blue;
            }
            &:focus {
                color: $black;
            }
        }
        @media(max-width:492px) {
            order: 2;
            font-size: 18px;
            padding-left: 10px;
        }
        
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__button {
        padding: 15px;
        width: 100%;
    }
}