.object-directory {
    padding: 20px 0px;

    @media(max-width:492px) {
        background-color: #EBF1FB;
    }

    &__container {
        @media(max-width:492px) {
            padding: 0;
        }
    }

    &__body {}

    &__products-body {
        @media(max-width:492px) {
            .products__top {
                padding: 0px 15px;
            }

        }
    }
}

.recommendation {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 40px;
    padding: 30px 60px;
    background: #EBF1FB;
    border-radius: 23px;
    @media(max-width:1023px) {
        padding: 20px 30px;
    }
    @media(max-width:992px) {
        flex-direction: column;
        gap: 20px;
    }
    @media(max-width:492px) {
        padding: 0;
    }
    &__left {
        flex: 0 1 65%;
        max-height: 100%;
        background-color: #fff;
        padding: 25px;
        border-radius: 23px;
        @media(max-width:492px) {
            display: none;
        }
    }

    &__text {
        font-size: 18px;
        
        span {
            &:first-child {
                margin-bottom: 15px;
            }
            display: block;
        }
    }

    &__right {
        background: #fff;
        padding: 25px;
        flex: 0 1 35%;
        border-radius: 23px;
        @media(max-width:492px) {
            padding: 20px 15px;
            border-radius: 0;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__avatar {
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }

    &__names {}

    &__speciality {
        margin-bottom: 5px;
        color: $violet;
        
    }

    &__name {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__link {
        color: $black;
        font-weight: 500;
        font-size: 13px;
        span {
            font-size: 12px;
        }
    }
}