.object-filters {
    margin-top: 80px;
    background-color: #fff;
    padding: 35px;

    @media(max-width:767px) {
        padding: 20px 15px;
        margin-top: 35px;

        .buyer-filter__buttons {
            @media(max-width:767px) {
                flex-direction: column;

                .button {
                    width: 100%;
                }
            }
        }

        .buyer-filter {
            @media(max-width:767px) {
                padding: 0;
            }
        }

        .buyer-filter__show-more-button {
            @media(max-width:767px) {
                bottom: -15px;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        gap: 20px;

        @media(max-width:600px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__left {}

    &__title {
        margin-bottom: 15px;
    }

    &__label {
        margin-bottom: 15px;
    }

    &__right {}

    &__name {
        span {
            display: block;
            color: $blue;
            line-height: 130%;
        }
    }

    &__filter {
        border-bottom: 1px solid #eee;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    &__tabs {}
}

.tabs {

    &__nav {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 35px;
    }

    &__link {
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        &:hover {
            opacity: 0.8;
        }
        &:before {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background-color: $blue;
            position: absolute;
            bottom: -3px;
            transition: all 0.4s ease 0s;   
            opacity: 0;
            visibility: hidden;
        }

        &._active {
            color: $blue;
            &:hover {
                opacity: 1;
            }
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__content {
        overflow: hidden;

    }

    &__body {
        overflow: auto;
    }

    &__item {
        display: none;

        &._active {
            display: block;
        }
    }
}

.object-layout {

    &__content {}

    &__item {
        margin-bottom: 20px;
        background: #EBF1FB;

        border-radius: 12px;

        &:last-child {
            margin: 0;
        }
    }

    &__button {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 30px 90px 30px 60px;
        background: #EBF1FB;
        border-radius: 12px;
        cursor: pointer;
        position: relative;
        border: 1px solid #EBF1FB;
        gap: 20px;
        flex-wrap: wrap;

        &:hover {
            border: 1px solid $blue;


            div {
                color: $blue;
            }

            .object-layout__arrow {
                background-color: $blue;

                svg path {
                    fill: #fff;
                }
            }
        }

        &._active {
            border-bottom: none;
            border-radius: 12px 12px 0px 0px;

            .object-layout__arrow {
                transform: rotate(180deg);
            }

            div {
                color: $blue;
            }

            .object-layout__arrow {
                background-color: $blue;

                svg path {
                    fill: #fff;
                }
            }
        }


    }

    &__arrow {
        position: absolute;
        top: 20px;
        right: 15px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease 0s;

        svg path {
            transition: all 0.4s ease 0s;
        }
    }

    &__label {}

    &__body {}

    &__row {
        padding: 10px 30px 30px 30px;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

        @media(max-width:492px) {
            padding: 20px 10px 20px 10px;
        }
    }

    &__layout-card {}
}

.layout-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 5px 15px;
    color: $black;
    &__image-body {
        padding-bottom: 80%;
        position: relative;
        border-radius: 8px;

    }

    &__image {
        padding: 10px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }

    &__content {
        padding: 10px 10px 20px 10px;
    }


    &__prices {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
    }

    &__left {
        height: 50px;
        width: 30px;
        border-radius: 9px;
        background-color: #F4F9FF;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: start;
    }



    &__top {
        display: flex;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        top: 5px;
        margin-right: 15px;
        z-index: 3;
    }




    &__right {}

    &__sub-price {
        color: $violet;
        margin-bottom: 5px;
    }

    &__main-price {
        font-size: 18px;
        font-weight: 500;
    }

    &__start-price {
        color: $violet;
        position: relative;
        top: 22px;

        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $violet;
            position: absolute;
            top: 5px;
        }
    }

    &__points {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 15px;
    }

    &__point {
        padding: 8px;
        font-size: 13px;
        color: $blue;
        background: #F4F9FF;
        border-radius: 7px;
        font-weight: 500;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &__subpoints {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__subpoint {
        background: #F4F8FF;
        border-radius: 7px;
        padding: 6px;
        color: $blue;
        font-weight: 500;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.table {
    display: flex;
    gap: 20px;
    padding-bottom: 25%;

    &__section {
        flex: 0 1 50%;
        display: flex;
        gap: 5px;
    }

    &__column-titles {}

    &__label {
        font-size: 16px;
        height: 46.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {}

    &__row {
        display: grid;
        grid-template-columns: repeat(4, 95px);
        gap: 2.5px;

        @media(max-width:492px) {
            grid-template-columns: repeat(4, 70px);
        }
    }

    &__item {
        flex: 0 0 95px;
        height: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #EEEEEE;
        border-radius: 12px;
        color: #989BB6;
        padding: 5px;
        position: relative;
        transition: all 0.4s ease 0s;
        @media(max-width:492px) {
            font-size: 10px;
        }

        &._main {
            background-color: $blue;
            color: #fff;
            border: 1px solid $blue;
            cursor: pointer;

            // &:hover {
            //     background-color: $green;
            //     .table__panel {
            //         opacity: 1;
            //         visibility: visible;
            //         pointer-events: all;
            //     }
            // }
            &._active {
                background-color: $green;
                .table__panel {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }

        &._active {
            
        }
    }

    &__top {
        margin-bottom: 5px;
        span {
            display: block;
        }
    }

    &__bottom {}

    &__panel {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.4s ease 0s;
        position: absolute;
        left: 100%;
        width: 310px;
        padding: 25px 15px;
        z-index: 2;
        top: 0;
        background: #F4F9FF;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
    }

    &__subtitle {
        color: $black;
    }

    &__status {
        background-color: $green;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 7.5px 10px;
        margin-bottom: 10px;
    }

    &__image {
        position: relative;
        padding-bottom: 60%;
        border-radius: 12px;
        margin-bottom: 10px;

        img {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            object-fit: cover;
            border-radius: 12px;
        }
    }

    &__points {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__point {
        background: #FFFFFF;
        border-radius: 7px;
        color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        padding: 7.5px 10px;
    }

    &__prices {
        margin-bottom: 20px;
    }

    &__subprice {
        color: $violet;
        margin-bottom: 5px;
    }

    &__main-price {
        font-size: 18px;
        color: $black;
    }

    &__button {
        color: $black;
        padding: 10px 20px;
    }
}

body._pc {
    .table__item._main {
        &:hover {
            background-color: $green;

            .table__panel {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }
}


body._touch {
    .table__item._main {
        &._active {
            background-color: $green;

            .table__panel {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
        }
    }
}