.products {
    padding: 0px 50px 10px 50px;

    @media(max-width:992px) {
        padding: 0px 30px 30px 30px;
    }

    @media(max-width:767px) {
        padding: 0px 20px 20px 20px;
    }

    @media(max-width:492px) {
        padding: 0px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 30px;
    }

    &__nav-item {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 30px;
        border: 1px solid $blue;
        background-color: #fff;
        border-radius: 12px;
        transition: all 0.4s ease 0s;
        cursor: pointer;
        &._active {
            background-color: $blue;

            color: #fff
        }
        &:hover {
            opacity: 0.9;
        }
    }

    &__top {
        @include adaptiv-value("margin-bottom", 40, 20, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        @media(max-width:392px) {
            padding-left: 15px;
        }
    }

    &__title {
        span {
            color: $violet;
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        padding: 20px;
        white-space: nowrap;
        background: #24CA8E;
        border-radius: 25px;
        font-size: 15px;
        border: 1px solid #24CA8E;

        &:before {
            content: "Смотреть на карте";
            margin-right: 15px;
            color: #fff;

            @media(max-width:600px) {
                display: none;
            }
        }

        &:after {
            content: "";
            background-image: url(../img/icons/location-map-button.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 34px;
            height: 34px;
            flex: 0 0 34px;
            border-radius: 50%;
            background-color: rgba(131, 243, 203, 0.5);
        }

        &:hover {
            border: 1px solid #24CA8E;
            background-color: #24CA8E;
            opacity: 0.8;
            color: #fff;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        column-gap: 20px;
        row-gap: 30px;
        @include adaptiv-value("margin-bottom", 30, 20, 1);

        @media(max-width:767px) {
            row-gap: 20px;
        }
    }

    &__item {}

    &__button-next {
        display: flex;
        width: 100%;
        font-size: 15px;
        padding: 25px;
        color: $black;
        margin-bottom: 20px;

        @media(max-width:767px) {
            padding: 20px;
        }

        @media(max-width:492px) {
            padding: 15px;
        }
    }
}

.item {
    position: relative;
    color: $black;
    background-color: #fff;
    border-radius: 12px;
    display: block;
    position: relative;

    &._error {
        &:before {
            content: "Объявление снято с публикации";
            font-family: 'Inter';
            font-weight: 700;
            color: #fff;
            font-size: 20px;
            line-height: 130%;
            text-align: center;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 7;
            background: rgba(47, 45, 45, 0.4);
            backdrop-filter: blur(10px);
            /* Note: backdrop-filter has minimal browser support */
            border-radius: 12px;
        }
    }

    &__status {
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 5;
        color: #fff;
        background-color: $green;
        padding: 5px 10px;
        border-radius: 7px;
        font-size: 12px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__images {
        padding: 4px;
        position: relative;
    }

    &__button-prev {
        top: calc(50% - 21px);
        left: 7px;
    }

    &__comment {
        opacity: 0;
        visibility: hidden;
        max-height: 0px;
        transition: all 0.4s ease 0s;
        pointer-events: none;
        margin-bottom: 15px;
        position: relative;
    }

    &__field {
        background: #EBF1FB;
        border-radius: 7px;
        padding: 10px 20px;
        height: 40px;
        resize: none;
        width: 100%;
    }

    &__send-message {
        background-image: url(../img/icons/send-message.svg);
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 3;
    }

    &__slider {}

    &__panels {
        display: flex;
        position: absolute;
        top: 10px;
        left: 10px;
        align-items: center;
        gap: 10px;
        z-index: 2;
        flex-wrap: wrap;
    }

    &__likes {
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 10;

        svg path {
            transition: all 0.4s ease 0s;
        }

        button {
            background: transparent;
            cursor: pointer;
            position: relative;
            z-index: 5;
        }

        &._active+.item__comment {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            max-height: 40px;
        }
    }

    &__like {
        &._active {
            svg path {
                fill: #24CA8E;
            }
        }
    }

    &__dislike {
        &._active {
            svg path {
                fill: #FF4848;
            }
        }
    }

    &__video {
        min-height: 100%;

        img,
        video {
            z-index: 8;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }

    &__panel {
        background: $blue;
        font-weight: 500;
        border-radius: 7px;
        padding: 5px 10px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__column {}

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        li {
            color: $violet;
            font-weight: 500;
            font-size: 15px;
        }

        &_main {
            li {
                color: $black;
            }
        }
    }

    &__wrapper {}

    &__slide {
        height: 100%;
    }

    &__image {
        position: relative;
        padding-bottom: 70%;

        @media(max-width:492px) {
            padding-bottom: 80%;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            border-radius: 12px;
        }
    }

    &__button-next {
        top: calc(50% - 21px);
        right: 7px;
        transform: rotate(180deg);
    }

    &__content {
        padding: 15px 20px 30px 20px;
        position: relative;

        @media(max-width:492px) {
            padding: 12px 15px 30px 15px;
        }
    }

    &__name {
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 500;
    }

    &__addres {
        color: $violet;
        display: inline-flex;
        @include adaptiv-value("margin-bottom", 20, 12, 1);

        &:before {
            content: "";
            background-image: url(../img/icons/location.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 10px;
            height: 10px;
            flex: 0 0 10px;
            margin-right: 8px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        @include adaptiv-value("margin-bottom", 20, 15, 1);
    }

    &__point {
        padding: 10px;
        background: #EBF1FB;
        border-radius: 7px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $blue;
        transition: all 0.4s ease 0s;
        font-weight: 500;
        font-size: 12px;
        height: 26px;
        &:hover {
            color: $violet;
        }
    }

    &__price {}

    &__favorites {
        background-image: url(../img/icons/favorites.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 14px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;

        &._active {
            background-image: url(../img/icons/read-heart.svg);
        }
    }
}

.product-price {
    display: flex;
    align-items: center;

    &__button {
        width: 25px;
        height: 45px;
        flex: 0 0 25px;
        background: #EBF1FB;
        border-radius: 21px;
        padding: 7.5px;
        display: inline-flex;
        align-items: end;
        justify-content: center;
        margin-right: 10px;
    }

    &__main {}

    &__sub-price {
        color: $violet;
        font-size: 15px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    &__all-price {
        font-size: 20px;
        font-weight: 500;
    }

    &__rounding {
        color: $violet;
        font-size: 15px;
        align-self: flex-end;
        margin-left: 12px;
        position: relative;

        &:before {
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
            content: "";
            display: block;
            height: 1px;
            background-color: $violet;
        }
    }


}