.realtor-info {
    padding: 30px 0px 80px 0px;
    .products {
        @media(max-width:492px) {
            padding: 0px 15px;
        }
    }
    @media(max-width:492px) {
        background-color: #EBF1FB;
    }

    &__container {
        @media(max-width:992px) {
            padding: 0px;
        }
    }

    &__body {
        background-color: #EBF1FB;
        border-radius: 23px;
    }

    &__row {
        display: flex;
        gap: 40px;
        @include adaptiv-value("margin-bottom", 60, 20, 1);
        padding: 40px 90px;

        @media(max-width:1100px) {
            padding: 35px 50px;
        }

        @media(max-width:992px) {
            gap: 30px;
            padding: 30px 20px;
        }

        @media(max-width:767px) {
            flex-direction: column-reverse;
        }

        @media(max-width:492px) {
            padding: 0px 15px;
        }

        
    }

    &__sticky {
        width: 100%;
        top: 60px;
        position: sticky;
    }


    &__column {
        &_main {
            flex: 0 1 calc(65% - 20px);
        }

        &_small {
            flex: 0 1 calc(35% - 20px);
        }
        @media(max-width:992px) {
            &_main {
                flex: 0 1 calc(60% - 15px);
            }
    
            &_small {
                flex: 0 1 calc(40% - 15px);
            }
        }
    }

    &__content {
        @media(max-width:767px) {
            width: 100%;
        }
    }

    &__feature {}

    &__about {}

    &__video {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__reviews {}

    &__agent-card {
        @include adaptiv-value("margin-bottom", 60, 20, 1);
    }
}

.agent-feature {
    background-color: #fff;
    padding: 30px 50px 50px 30px;
    border-radius: 12px;
    @include adaptiv-value("margin-bottom", 40, 20, 1);

    @media(max-width:767px) {
        padding: 20px 15px;
    }

    @media(max-width:392px) {
        border-radius: 0px;
    }

    &__title {
        @include adaptiv-value("margin-bottom", 30, 20, 1);
    }

    &__row {
        display: flex;
        gap: 45px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &:first-child {
            div {
                color: $violet;
            }
        }
    }


    &__item {}

    &__left {
        color: $violet;
    }

    &__right {}
}

.agent-about {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px 30px 45px 30px;
    @include adaptiv-value("margin-bottom", 40, 20, 1);

    @media(max-width:767px) {
        padding: 20px 15px;
    }

    @media(max-width:392px) {
        border-radius: 0px;
    }

    &__title {
        @include adaptiv-value("margin-bottom", 30, 20, 1);
    }

    &__text {
        p {
            line-height: 140%;
        }

    }
}

.agent-video {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    @include adaptiv-value("margin-bottom", 40, 20, 1);

    @media(max-width:767px) {
        padding: 20px 15px;
    }

    @media(max-width:392px) {
        border-radius: 0px;
    }

    &__title {
        @include adaptiv-value("margin-bottom", 30, 20, 1);
    }

    &__video {}
}

.agent-reviews {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    @include adaptiv-value("margin-bottom", 40, 20, 1);

    @media(max-width:767px) {
        padding: 20px 15px;
    }

    @media(max-width:392px) {
        border-radius: 0px;
    }

    &__title {
        @include adaptiv-value("margin-bottom", 30, 20, 1);
        @include adaptiv-value("padding-bottom", 30, 20, 1);
        border-bottom: 1px solid rgba(122, 127, 170, 0.2);

        span {
            color: $violet;
        }
    }

    &__item {
        border-bottom: 1px solid #EEEEEE;
        padding-bottom: 20px;
        margin-bottom: 20px;

        &:last-child {
            border: none;
            margin: 0;
            padding: 0;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiv-value("margin-bottom", 30, 20, 1);

        @media(max-width:900px) {
            flex-direction: column;
            gap: 12px;
            align-items: start;
        }
    }

    &__name {
        margin-right: 15px;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    &__rating {
        padding: 6.5px;
        background: #EBF1FB;
        border-radius: 9px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__rating-number {
        margin-right: 5px;
        font-size: 13px;
    }

    &__stars {}

    &__date {
        font-size: 11px;
        color: $violet;
    }

    &__skills-rating {}

    &__content {
        @include adaptiv-value("margin-bottom", 30, 20, 1);
        font-size: 15px;
        line-height: 150%;
    }

    &__button {
        padding: 15px;
        color: #3D3D3D;
    }

    &__thumbs-wrapper {
        overflow: hidden;
    }

    &__thumbs {
        display: flex;
        align-items: center;
        gap: 17px;
        overflow: auto;
    }

    &__image {
        border-radius: 7px;
        position: relative;
        padding-bottom: 80px;
        display: block;
        width: 100%;
        flex: 0 1 25%;
        @media(max-width:600px) {
            flex: 0 0 120px;
        }
        img {   
            border-radius: 7px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.skills-rating {
    @include adaptiv-value("margin-bottom", 35, 20, 1);

    &__item {
        display: flex;
        gap: 10px;
        margin-bottom: 7.5px;

        &:last-child {
            margin: 0;
        }
    }

    &__stars {}

    &__label {}
}

.agent-card {

    &__background {}

    &__number-of-reviews {}

    &__icon {}

    &__text {}

    &__content {}

    &__avatar {}

    &__rating {}

    &__number-of-rating {}

    &__stars {}

    &__name {}

    &__speciality {}

    &__visit {}

    &__buttons {}

    &__button {}
}

.social-of-agent {

    &__label {}

    &__item {}

    &__icon {}

    &__name {}
}