.registration {

    &__body {
        padding: 40px 20px 30px 20px;
    }

    &__title {
        font-size: 20px;
        @include adaptiv-value("margin-bottom", 40, 25, 1);
    }

    &__text {
        @include adaptiv-value("margin-bottom", 40, 25, 1);
        color: $violet;
        line-height: 135%;
    }

    &__form {}

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 25px;
        @include adaptiv-value("margin-bottom", 40, 25, 1);
    }

    &__item {
        position: relative;
    }

    &__label {
        position: absolute;
        top: 3px;
        left: 25px;
        color: $violet;
        font-size: 12px;
    }

    &__input {
        height: 55px;
        display: block;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #D5D5D5;
        border-radius: 12px;
        padding-left: 25px;
    }

    &__button {
        height: 45px;
        width: 100%;
    }
}


.registration-menu {
    padding: 55px 65px 25px 25px;
    &__title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 13px;
        line-height: 130%;
        color: $violet;
        margin-bottom: 30px;
    }

    &__button {
        margin-bottom: 20px;
        height: 50px;
    }

    &__label {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: $violet;
    }

    &__line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(122, 127, 170, 0.5);
    }
}
